body {margin:0;}

.footer{
    height: 100px;
    background-color:#333;
    margin-top: 100px;
}

.quote{
    margin-top: 100px;
    padding-left: 100px;
    background-color: #adadad;
    color: antiquewhite;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    width: 100%;
    position: static;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: Black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
.topnav input[type=text] {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.app-name {
    padding-left: 43%;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    font-weight: 200;
    color: floralwhite;
    text-align: center;
}

.ss {
    margin-top: 15px;
    position: relative;
    width: 100%;
    align-content: center;
}

#tag-name{
    padding-left: 38%;
    color: floralwhite;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 25px;
    font-weight: 200;
}