header {
    max-height: 20%;
    background-color: crimson;
    position: fixed;
    padding: 7px;
    width: 100%;
}

#tag-line{
    font-size: 20px;
    margin-top: 15px;
    margin-left: 20px;
    text-align: center;
}

.app-name {
    font-family: 'Lobster', cursive ;
    font-size: 40px;
    font-weight: 200;
    color: floralwhite;
    text-align: center;

}

.hdr-btn {
    margin-left: 80px;
    color: cornsilk;
}

.btn-cus {
    color: cornsilk;
    font-size: 20px;
    margin-top: 5px;
}


.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: Black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
.topnav input[type=text] {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
}